.separator {
  width: 0.7px;
  flex: 1;
  position: relative;
  border-right: 0.7px solid #a0aece;
  box-sizing: border-box;
}
.input-fields-area,
.separator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.separator-wrapper {
  height: 223.4px;
  padding: 55.4px 0 0;
  box-sizing: border-box;
}
.input-fields-area {
  align-self: stretch;
  gap: 21.9px;
  max-width: 100%;
}
.button {
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 18.2px;
  font-weight: 600;
  font-family: Urbanist;
  color: #fff;
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.log-in {
  cursor: pointer;
  border: 0;
  padding: 16px 7.3px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 25.53px;
  background: linear-gradient(90deg, #5013ff, #1456ff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition for filter */
}
.log-in:hover {
  filter: saturate(80%);  /* Reduce saturation on hover */
  transform: scale(1.01);
}
.form,
.input-field-area {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.form {
  margin: 0;
  width: 447.1px;
  flex-direction: column;
  align-items: center;
  gap: 21.9px;
  flex-shrink: 0;
}
.input-field-area {
  box-shadow: -10.9px -10.9px 21.88px #f0f2ff, 10.9px 10.9px 21.88px #afcdff;
  border-radius: 21.88px;
  background: linear-gradient(100.07deg, #e2e7ff, #d4e4ff);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 77.6px 78px 77.5px 78.1px;
  box-sizing: border-box;
  gap: 79.9px;
  z-index: 1;
  text-align: left;
  font-size: 32.8px;
  color: #1e1e1e;
  font-family: Urbanist;
}
@media screen and (max-width: 1025px) {
  .input-field-area {
    gap: 40px;
    padding-left: 39px;
    padding-right: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .input-field-area {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .input-field-area {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
}
.error {
  border: 1px solid rgb(255, 0, 0);
}